.NavItems {
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
}


.NavItem {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.NavBar{
  height: 40px;
  padding: 10px;
  background: linear-gradient(120deg, #19CEEB, #28ACEA, #388EE9, #3D76E0);
}